
@{
    ViewBag.Title = "PaymentResult";
    Layout = null;
}

<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" href="~/Content/Site.css"/>
        <link rel="stylesheet" href="~/Content/bootstrap.css"/>
    </head>

    <body>

        <header class="header">
            <div style="display: flex; padding: 10px; justify-content: space-between; align-content: center; align-items: center;">
                <img src="~/Images/logo.png" style="width: 100px;" />
                <p class="header-title">Bolashaq saraiy</p>
                <p style="color: white; font-size: 20px; margin: 10px;">Salem, Ahmetov Ahmet</p>
            </div>
        </header>

        <div class="container">

            @if (BolashaqWebApp.Models.AppData.IsZayavka == true)
            {
                <div style="display: flex; flex-direction: column; align-content: center;">
                    <label class="title">Поздравляем, вы оплатили за месячное посещение кружка!</label>

                    <div style="border: solid 3px; margin: 10px; padding: 10px;">
                        <label style="font-weight: bold; font-size: 22px;">Детали оплаты</label>

                        <div style="margin: 10px;">
                            <p>Номер транзакций: </p>
                            <p>Кружок: @BolashaqWebApp.Models.AppData.NewZayavka.Name</p>
                            <p>Сумма: @BolashaqWebApp.Models.AppData.NewZayavka.Price</p>
                        </div>

                    </div>

                </div>


             }
            else
            {
                <div style="display: flex; flex-direction: column; align-content: center;">
                    <label class="title">К сожалению, ваш платеж не был произведен</label>

                    <div style="border: solid 3px; margin: 10px; padding: 10px;">
                        <label style="font-weight: bold; font-size: 22px;">Детали оплаты</label>

                        <div style="margin: 10px;">
                            <p>Причина ошибки транзакции: @BolashaqWebApp.Models.AppData.ErrorZayavka</p>
                        </div>

                    </div>

                </div>
            }

        </div>

    </body>

</html>

